{% extends "AppBundle:View:basicView.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-4">


                {{ form_start(form) }}
                <br>
                <div>
                    {{ form_label(form.placeMeeting) }}
                    <br>
                    {{ form_widget(form.placeMeeting, {'attr': {'class': 'form-control', 'placeholder': 'Miejsce spotkania'}}) }}
                </div>
                <br>
                <div>
                    {{ form_label(form.date) }}
                    {{ form_widget(form.date) }}
                </div>
                <br>

                {{ form_label(form.description) }}
                <br>

                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Opisz spotkanie'}} )}}

                <div>
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-warning', 'placeholder': 'Utwórz wydarzenie'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}